<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Menu</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>Listado de pedidos en proceso</h2>
			<form method="POST" action="/logistica/pedidos/buscar" class="fl" enctype="multipart/form-data">
				<div class="form-group">
					<input type="text" value=""  placeholder="Ingrese texto..." id="texto" name="texto" class="form-control" style="width: auto;float: left;"/>
					<input type="submit" value="Buscar" class="btn btn-warning"/>
				</div>
			</form>
			<a th:href="@{/pedidos/asignar}" class="btn btn-warning fl"> 
            	Asignar
            </a>
			<table class="table table-hover table-striped">
            	<thead>
            		<th>ID</th>
                    <th>ORDEN COMPRA</th>
                    <th>CLIENTE</th>
                    <th>ESTADO</th>
                    <th>ALISTA</th>
                    <th>VALIDA</th>
                    <th>FECHA CARGA</th>
                    <th>FECHA LIBERA</th>
                    <th>FECHA FACTURA</th>
                    
                </thead>
                <tbody>
                	<tr th:each="ped : ${pedidos}">
                		<td th:text="${ped.getId()}"></td>
					    <td th:text="${ped.getOrdenCompra()}"></td>
					    <td th:text="${(ped.getCliente()).getNombre()}"></td>
					    <td th:text="${ped.getEstado()}"></td>
					    <td th:text="${ped.getAlista()}"></td>
					    <td th:text="${ped.getValida()}"></td>
					    <td th:text="${ped.getFechaCarga()}"></td>
					    <td th:text="${ped.getFechaLibera()}"></td>
					    <td th:text="${ped.getFecha()}"></td>
					</tr>
                </tbody>
            </table>
		</div>
	</div>
</body>

</html>