<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Menu</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
	    	<h2>Factura pedidos finalizados</h2>
			<p>Esta funcionalidad obtiene los pedidos que fueron finalizados por el personal de alistamiento y validacion y crea un pedido en contapyme. Los pedidos a facturar son los siguientes:</p>	
			<form method="POST" action="/logistica/factura" enctype="multipart/form-data">
				<div class="form-group">
					<input type="submit" value="Facturar" class="btn btn-warning"/>
				</div>
			</form>
			<table class="table table-hover table-striped">
            	<thead>
            		<th>Cliente</th>
                    <th>ORDEN COMPRA</th>
                    <th>CLIENTE</th>
                    <th>ESTADO</th>
                    <th>ALISTA</th>
                    <th>VALIDA</th>
                   
                </thead>
                <tbody>
                	<tr th:each="enc : ${pedidos}">
                		<!--<td th:text="${ped.getId()}"></td
					    <td th:text="${ped.getOrdenCompra()}"></td>
					    <td th:text="${(ped.getCliente()).getNombre()}"></td>-->
					    <td th:text="${(enc.getTercero()).getNombres()}"></td>
					    <td th:text="${enc.getDocumento()}"></td>
					    <!-- <td th:text="${ped.getEstado()}"></td>
					    <td th:text="${ped.getAlista()}"></td>
					    <td th:text="${ped.getValida()}"></td>
					    <td th:text="${ped.getProveedor().getNombre()}"></td> -->
					</tr>
                </tbody>
            </table>
		</div>
    </div>
</body>

</html>