<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Cargar Pronostico</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>Crear Articulos</h2>
			<form method="POST" action="/logistica/articulos/crear" th:object="${articulo}" enctype="multipart/form-data">
				<div class="form-group">
					<label for="ean">EAN</label>
					<input type="text" value=""  placeholder="EAN..." th:field="${articulo.id}" name="id" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="nombre">Nombre</label>
					<input type="text" value=""  placeholder="Nombre..." th:field="${articulo.nombre}" name="nombre" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="marca">Marca</label>
    				<select class="form-control" id="marca" name="marca">
				        <option th:each="mar : ${marcas}"
				                th:value="${mar.getId()}"
				                th:text="${mar.getNombre()}"/>
				    </select>
				</div>
				<input type="submit" value="Crear Articulo" class="btn btn-warning"/>
			</form>
		</div>
	</div>
</body>
</html>