<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Spring Security Tutorial</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
	<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	

    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link th:href="@{/css/light-bootstrap-dashboard.css}" rel="stylesheet"/>
    
    <link th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" />
    
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/logistica/pedidos" class="simple-text">
                    <img alt="" src="img/lucLogo.png"/>
                </a>
            </div>

            <ul class="nav">
            	<li class="active">
                	<a th:href="@{/pedidos}"> 
                		<i class="pe-7s-graph"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li>
                	<a th:href="@{/clientes}">
                		<i class="pe-7s-user"></i>
                        <p>Clientes</p>
                	</a>
                </li>
                <li>
                	<a th:href="@{/articulos}">
                		<i class="pe-7s-user"></i>
                        <p>Articulos</p>
                	</a>
                </li>
                 <li>
                	<a th:href="@{/carga}"> 
                		<i class="pe-7s-graph"></i>
                        <p>Carga</p>
                    </a>
                </li>
                <li>
                	<a th:href="@{/libera}">
                		<i class="pe-7s-user"></i>
                        <p>Libera</p>
                	</a>
                </li>
                <li>
                	<a th:href="@{/factura}">
                		<i class="pe-7s-user"></i>
                        <p>Factura</p>
                	</a>
                </li>           
                <li>
                	<a th:href="@{/pronosticos}">
                		<i class="pe-7s-user"></i>
                        <p>SUGERIDO</p>
                	</a>
                </li>
                
                <li>
                	<a th:href="@{/cotizaciones}">
                		<i class="pe-7s-user"></i>
                        <p>COTIZACIONES</p>
                	</a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <!--<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
		 -->
        <div layout:fragment="content">
        </div>

		<!-- 
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
         -->

    </div>
</div>


</body>



</html>