<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/theme/luc">
<head>
	<title>Clientes</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-lg-12">
			<h2>Listado de Clientes</h2>
			<form method="POST" action="/logistica/clientes/buscar" class="fl" enctype="multipart/form-data">
				<div class="form-group">
					<input type="text" value=""  placeholder="Ingrese texto..." id="texto" name="texto" class="form-control" style="width: auto;float: left;"/>
					<input type="submit" value="Buscar" class="btn btn-warning"/>
				</div>
			</form>
			<a th:href="@{/clientes/crear}" class="btn btn-warning fl"> 
            	Crear
            </a>
			<table class="table table-hover table-striped">
            	<thead>
                    <th>NOMBRE</th>
                    <th>EAN</th>
                    <th>NIT</th>
                </thead>
                <tbody>
                	<tr th:each="cli : ${clientes}">
					    <td th:text="${cli.getNombre()}"></td>
					    <td th:text="${cli.getId()}"></td>
					    <td th:text="${cli.getId2()}"></td>
					</tr>
                </tbody>
            </table>
		</div>
	</div>
</body>
</html>